name: Python linters

on:
  push:
    branches:
      - feature/*
  pull_request:
    branches:
      - develop

jobs:
  lint:
    name: Check the code with python linters
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version-file: pyproject.toml

      - name: Install dependencies
        run: |
          pip install isort black flake8 flake8-docstrings

      - name: Check with isort
        run: isort . --check --profile black --skip migrations --skip-glob "*settings*"

      - name: Check with black
        run: black . --check --line-length 79 --exclude migrations --exclude "settings"

      - name: Check with flake8
        run: flake8 .